<div class="bg-orange-500 m-5">
  <p>i am parent component</p>

  <button class="m-4 p-4 bg-blue-400 rounded-lg">click me parrent compo</button>
  <div class="text-center text-xl flex flex-col my-4">
    <div>
      <button
        type="button"
        class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-teal-100 text-teal-800 hover:bg-teal-200 focus:outline-none focus:bg-teal-200 disabled:opacity-50 disabled:pointer-events-none dark:text-teal-500 dark:bg-teal-800/30 dark:hover:bg-teal-800/20 dark:focus:bg-teal-800/20"
      >
        Button
      </button>
    </div>
    <div>{{ testParentText }}? this is interpolation</div>
    <div [class]="aTestVar">
      {{ testParentText }}? and this is property binding
    </div>
  </div>

  <div class="flex justify-between">
    <app-child-1></app-child-1>
    <app-child-2></app-child-2>
  </div>
</div>
